* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.tools-container {
  height: 100px;
  background: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools-content {
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: lightcyan;
  border-radius: 10px;
}

.tools {
  height: 55%;
  width: 10%;
  position: relative;
}

.tools img {
  height: 100%;
  width: 100%;
}

.drawings-container {
  height: calc(100vh - 100px);
  /* background: red; */
}

#canvas {
  /* background: violet; */
}

/* Sticky Notes */
.sticky {
  position: absolute;
  top: 30vh;
  height: 200px;
  /* background: bisque; */
  width: 250px;
  left: 40vw;
}

.sticky-header {
    height: 13%;
    background: lightsalmon;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: move;
}

.sticky-header div {
    height: 80%;
    width: 8%;
    margin-right: 10px;
    border-radius: 50%;
}

.sticky-header .minimize {
    background: lightskyblue;
}

.sticky-header .close {
    background: lightcoral;
}

.sticky-content {
    height: 87%;
    background: bisque;
    border-bottom-right-radius: 20px;
    outline: none;
    padding: 10px;
    word-break: break-word;
}

